* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.list {
  border-bottom: 1px solid black;
  padding: 20px;
}

.modal {
  width: 100%;
  border: 1px solid #000;
  background-color: gray;
  color: #fff;
  padding: 20px;
}
